In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Load Data into DataFrame

In [2]:
pete_df = pd.read_csv('pete_data.csv')

pete_df = pete_df[['committee_name','contributor_zip','contribution_receipt_amount']]

pete_df.head()

           committee_name  contributor_zip  contribution_receipt_amount
0  PETE FOR AMERICA, INC.      168016602.0                        22.27
1  PETE FOR AMERICA, INC.      168016602.0                         3.00
2  PETE FOR AMERICA, INC.      200091804.0                       100.00
3  PETE FOR AMERICA, INC.      200091804.0                       100.00
4  PETE FOR AMERICA, INC.      980335556.0                        10.00

### Clean Data

In [3]:
pete_df['contributor_zip'] = pete_df['contributor_zip'].astype(str)

pete_df['new_zip'] = pete_df['contributor_zip'].str[0:5]

pete_df = pete_df[['committee_name', 'new_zip', 'contribution_receipt_amount']]
pete_df = pete_df.rename(columns = {'new_zip':'zip code'})
pete_df.head()

           committee_name zip code  contribution_receipt_amount
0  PETE FOR AMERICA, INC.    16801                        22.27
1  PETE FOR AMERICA, INC.    16801                         3.00
2  PETE FOR AMERICA, INC.    20009                       100.00
3  PETE FOR AMERICA, INC.    20009                       100.00
4  PETE FOR AMERICA, INC.    98033                        10.00

In [6]:
pete_df = pete_df.dropna()

In [9]:
pete_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50285 entries, 0 to 50284
Data columns (total 3 columns):
committee_name                 50285 non-null object
zip code                       50285 non-null object
contribution_receipt_amount    50285 non-null float64
dtypes: float64(1), object(2)
memory usage: 1.5+ MB

In [15]:
pete_df = pete_df[pete_df['zip code'] != '0.0']

In [19]:
pete_df.head()

           committee_name zip code  contribution_receipt_amount
0  PETE FOR AMERICA, INC.    16801                        22.27
1  PETE FOR AMERICA, INC.    16801                         3.00
2  PETE FOR AMERICA, INC.    20009                       100.00
3  PETE FOR AMERICA, INC.    20009                       100.00
4  PETE FOR AMERICA, INC.    98033                        10.00

In [20]:
pete_df.columns = ['Candidate', 'Zip Code', 'Donation']
pete_df.head()

                Candidate Zip Code  Donation
0  PETE FOR AMERICA, INC.    16801     22.27
1  PETE FOR AMERICA, INC.    16801      3.00
2  PETE FOR AMERICA, INC.    20009    100.00
3  PETE FOR AMERICA, INC.    20009    100.00
4  PETE FOR AMERICA, INC.    98033     10.00